@use 'barvy';

/* ČASTÉ DOTAZY*/
.dotazy {
  margin: 5%;
  @media screen and (min-width: 850px) {
  margin: 80px 15% 65px 15%;
}
}

.otazka {
  margin: 0 25px 0px 25px;
  text-align: center;
  font-weight: 600;
}

.odpoved {
  text-align: center;
  border: 2px solid barvy.$seda;
  border-radius: 0 15px;
  background-color: barvy.$seda;
  padding: 0 25px;
  margin: 0 0 50px 0;
}

.ptejtese {
  text-align: center;
  margin: 60px;
  text-decoration: overline barvy.$seda;
  a {
    text-decoration: none;
    margin: 25px;
    color: barvy.$cerna;
    border: barvy.$seda;
    border-radius: 10px;
    background-color: barvy.$seda;
    padding: 5px;
    color: barvy.$cerna;
  }
  
    @media screen and (min-width: 570px) {
      margin: 150px;
    }
    @media screen and (min-width: 750px) {
    text-align: right;
    margin: 80px 60px 25px 0;
    a:hover,
    a:focus,
    a:active {
    border: barvy.$cerna;
    border-radius: 10px;
    background-color: barvy.$cerna;
    padding: 20px;
    color: barvy.$svetla;
    font-weight: bolder;
    text-decoration: overline barvy.$cerna;
    }
  }

}