@use 'barvy';

.rodina,
.laskypribeh,
.svatby {
    margin: 5em 15px 0 15px;
}

.stitek {
    text-decoration: underline;
    color: barvy.$cerna;
    font-weight: 300;
    margin-top: 3em;

}.popisek {
    padding: 0 20px 15px 20px;
    text-align: center;
    margin: 0 10%;
    text-wrap: balance;
}

.fotoalbum {
   text-align: center;
    padding-bottom: 2px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: barvy.$bila;
    border: 2px solid barvy.$seda;
    border-radius: 0 20px;

      li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      padding: 20px 50px;
      color: barvy.$cerna;
    }

    a:hover,
    a:focus,
    a:active {
    border: barvy.$seda;
    border-radius: 10px;
    background-color: barvy.$seda;
    }
}

    .portfolio {
        display: grid;
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        gap: 30px;
    }

    .foto img {
        width: 100%;
        height:  100%;
        object-fit: cover;
    }

    .foto:nth-child(5n) {
        grid-column: span 2;
        grid-row: span 2;
    }

