@use 'barvy';

/* KONTAKTY*/

main {
  margin: 5px;
  text-align: center;
}

.lenna {
  max-width: 100%;
  @media screen and (min-width: 770px) {
      display: none;
    }
}
.obdelnik {
  display: block;
  font-size: 16px;
  text-align: center;
  align-items: center;
  background: none;

    
    a {
      text-decoration: none;
      color: barvy.$cerna;
      
      }

    a:hover,
    a:focus,
    a:active {
      color: barvy.$cerna;
      font-weight: bold;
      }
   
@media screen and (min-width: 770px) {
      background-color: barvy.$seda;
      border: 2px solid barvy.$seda;
      border-radius: 20px;
      display:inline-block;
      justify-content: space-evenly;
      margin: 0 10px 35px 10px;
      align-content: center;
      width: 100%;
  
    }
}

.ikonka {
  width: auto;
  height: 40px;
  text-align: center;
  @media screen and (min-width: 770px) {
    padding-right: 10px;
  }
}

.udaje {
  display: block;
  flex-grow: auto;
  @media screen and (min-width: 770px) {
    display: inline-flex;
    justify-content: space-between;
    margin: 8px 35px;
    
  }
}


/* FORMULÁŘ*/
.kontaktujte {
  background-color: barvy.$seda;
  text-align: left;
    @media screen and (min-width: 770px) {
      background-image: url(/images/lenka/lenka.avif);
      background-repeat: no-repeat;
      background-position: right 45% bottom 10%;
    }
}

.legend {
  font-size: 35px;
}

form {
  max-width: 100%;
  
  @media screen and (min-width: 770px) {
    min-width: 500px;
    max-width: 49%;
  }
}
.form-field {
  margin-bottom: 8px;
  

  label {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    
    }

  textarea,
  input {
    width: 100%;
    font-size: 16px;
    color: barvy.$cerna;
    padding: 5px 8px;
      @media screen and (min-width: 770px) {
      opacity: 0.75;}
      }
  } 

  .checkbox {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .button {
    border: 8px;
    border-radius: 25px;
    border-color: gray;
    background-color: gray;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: bold;
    color: barvy.$svetla;
    }

  .button:hover {
    background-color: barvy.$cerna;
    color: barvy.$bezova;
  }