@use 'barvy';

/* UVODNÍ FOTKY*/
.img-auto {
  max-width: 100%;
}

/* láska ~ emoce ~ život*/
.motto {
  margin: 90px 30px 100px 30px;
  border: 2px solid barvy.$seda;
  border-radius: 0 20px;
  padding: 20px 0 20px 0;
  font-size:larger;
}

/* O MNĚ*/

.grilenka {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 20px;

   @media screen and (min-width: 700px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      column-gap: 50px;
    }
  
  padding: 25px;
  justify-items: center;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 1000px) {
      margin: 0 15% 40px 15%;
    }
}

.storyuvod {
  font-size: larger;
}
.story {
  grid-column: span 1;
  font-size: 20px;
  align-self: stretch;
  text-wrap: balance;
}

/*.lenka {
  border: 1px solid barvy.$seda;
  border-radius: 10px;
  background-color: barvy.$seda;
  text-align: center;
  margin-left: 5px;
}*/

.img-fotografka {
  width: 100%;
  height: 100%;
  object-fit: cover;

 @media screen and (min-width: 700px) {  
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
  }
}

.storyuvod {
  font-weight: 400;
  grid-column: span 1;
  grid-row: span 1;
}

.recenze {
  background-color: barvy.$seda;
}
.uryvky {
  border: 2px solid barvy.$seda;
  border-radius: 0 10px;
  background: barvy.$bila;
  margin-top: 20px;
  padding: 0 10px;
  font-style: italic;
  font-size: 16px;
}
