@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
}

/* STICKY */
/* .fixed {
  position: sticky;
  top: 0;
  left: 0;
 background-color: barvy.$bila;
 height: 50%;
 border: 1px solid barvy.$bila;
 border-radius: 20px;
} */
.header__logo a {
  text-decoration: none;
  color: #000000;
}
.header__logo a:hover,
.header__logo a:focus,
.header__logo a:active {
  border: #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding: 15px 15px 38px 15px;
}

/* NADPISY*/
h1 {
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  margin-left: 20px;
  padding-top: 20px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

h4 {
  margin-top: 0;
  font-weight: 100;
}

/* MENU*/
.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.menu__item {
  border-bottom: 3px solid #F2F2F2;
}

.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #000000;
}

.menu__checkbox:checked ~ .menu__list {
  display: block;
}

@media screen and (min-width: 850px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: inline-block !important;
  }
  .menu__item {
    border-bottom: 0;
  }
  .menu {
    text-align: center;
    padding-bottom: 2px;
  }
  .menu li {
    display: inline-block;
  }
  .menu a {
    text-decoration: none;
    padding: 20px 50px;
    color: #000000;
  }
  .menu a:hover,
  .menu a:focus,
  .menu a:active {
    border: #F2F2F2;
    border-radius: 10px;
    background-color: #F2F2F2;
  }
}
/* UVODNÍ FOTKY*/
.img-auto {
  max-width: 100%;
}

/* láska ~ emoce ~ život*/
.motto {
  margin: 90px 30px 100px 30px;
  border: 2px solid #F2F2F2;
  border-radius: 0 20px;
  padding: 20px 0 20px 0;
  font-size: larger;
}

/* O MNĚ*/
.grilenka {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding: 25px;
  justify-items: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .grilenka {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .grilenka {
    margin: 0 15% 40px 15%;
  }
}

.storyuvod {
  font-size: larger;
}

.story {
  grid-column: span 1;
  font-size: 20px;
  align-self: stretch;
  text-wrap: balance;
}

/*.lenka {
  border: 1px solid barvy.$seda;
  border-radius: 10px;
  background-color: barvy.$seda;
  text-align: center;
  margin-left: 5px;
}*/
.img-fotografka {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 700px) {
  .img-fotografka {
    grid-column: 1/span 1;
    grid-row: 1/span 3;
  }
}

.storyuvod {
  font-weight: 400;
  grid-column: span 1;
  grid-row: span 1;
}

/* RECENZE*/
.recenze {
  text-align: center;
  padding: 20px;
}

.rodina,
.laskypribeh,
.svatby,
.svatba {
  margin: 5em 15px 0 15px;
}

.stitek {
  text-decoration: underline;
  color: #000000;
  font-weight: 300;
  margin-top: 3em;
}
.stitek a {
  color: #000000;
}
.stitek a:hover,
.stitek a:focus,
.stitek a:active {
  border: #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding: 20px;
}

.popisek {
  padding: 0 20px 15px 20px;
  text-align: center;
  margin: 0 10%;
  text-wrap: balance;
}

.fotoalbum {
  text-align: center;
  padding-bottom: 2px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  border: 2px solid #F2F2F2;
  border-radius: 0 20px;
}
.fotoalbum li {
  display: inline-block;
}
.fotoalbum a {
  text-decoration: none;
  padding: 20px 50px;
  color: #000000;
}
.fotoalbum a:hover,
.fotoalbum a:focus,
.fotoalbum a:active {
  border: #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
}

.portfolio {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 30px;
}

.foto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.foto:nth-child(5n) {
  grid-column: span 2;
  grid-row: span 2;
}

/* ČASTÉ DOTAZY*/
.dotazy {
  margin: 5%;
}
@media screen and (min-width: 850px) {
  .dotazy {
    margin: 80px 15% 65px 15%;
  }
}

.otazka {
  margin: 0 25px 0px 25px;
  text-align: center;
  font-weight: 600;
}

.odpoved {
  text-align: center;
  border: 2px solid #F2F2F2;
  border-radius: 0 15px;
  background-color: #F2F2F2;
  padding: 0 25px;
  margin: 0 0 50px 0;
}

.ptejtese {
  text-align: center;
  margin: 60px;
  -webkit-text-decoration: overline #F2F2F2;
          text-decoration: overline #F2F2F2;
}
.ptejtese a {
  text-decoration: none;
  margin: 25px;
  color: #000000;
  border: #F2F2F2;
  border-radius: 10px;
  background-color: #F2F2F2;
  padding: 5px;
  color: #000000;
}
@media screen and (min-width: 570px) {
  .ptejtese {
    margin: 150px;
  }
}
@media screen and (min-width: 750px) {
  .ptejtese {
    text-align: right;
    margin: 80px 60px 25px 0;
  }
  .ptejtese a:hover,
  .ptejtese a:focus,
  .ptejtese a:active {
    border: #000000;
    border-radius: 10px;
    background-color: #000000;
    padding: 20px;
    color: #EAE4D5;
    font-weight: bolder;
    -webkit-text-decoration: overline #000000;
            text-decoration: overline #000000;
  }
}

/* KONTAKTY*/
.obdelnik {
  display: flex;
  align-items: center;
  margin: 60px 20px 30px 20px;
  border: 2px solid #F2F2F2;
  border-radius: 20px;
  background-color: #F2F2F2;
  font-size: 19px;
}
@media screen and (min-width: 1290px) {
  .obdelnik {
    align-items: center;
    margin: 60px 20px 30px 20px;
  }
}
.obdelnik a {
  text-decoration: none;
  color: #000000;
  text-align: center;
}
.obdelnik a:hover,
.obdelnik a:focus,
.obdelnik a:active {
  color: #000000;
  font-weight: bold;
}

.udaje {
  flex-grow: 1;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1290px) {
  .udaje {
    display: inline-flex;
  }
}

.ikonka {
  flex: 0 0 20px;
  margin: 25px 25px 25px 25px;
  align-items: center;
  text-align: center;
}

/* FORMULÁŘ*/
.kontaktujte {
  margin-left: 15px;
  background-image: url(/images/lenka/lenka.avif);
  background-repeat: no-repeat;
  background-position: right 45% bottom 10%;
}

.legend {
  font-size: 35px;
  margin-left: 20px;
}

form {
  max-width: 45%;
}

.form-field {
  margin-bottom: 8px;
}
.form-field label {
  display: block;
  margin-top: 2px;
  font-size: 18px;
}
.form-field textarea,
.form-field input {
  width: 100%;
  font-size: 16px;
  color: #000000;
  padding: 5px 8px;
  opacity: 0.75;
}

.checkbox {
  margin-bottom: 20px;
  font-size: 16px;
}

.button {
  border: 8px;
  border-radius: 25px;
  border-color: gray;
  background-color: gray;
  padding: 20px 35px;
  font-size: 16px;
  font-weight: bold;
  color: #EAE4D5;
}

.button:hover {
  background-color: #000000;
  color: #B6B09F;
}

/* PATIČKA*/
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
  color: white;
  padding: 20px 30px;
}
footer a:hover,
footer a:focus,
footer a:active {
  border: #262626;
  border-radius: 10px;
  background-color: #262626;
  color: white;
  font-weight: bold;
}

.dekuji {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.uzmam {
  grid-column: 2/span 3;
  grid-row: 2;
}

.zajem {
  grid-column: 2/span 3;
  grid-row: 3;
  text-align: center;
}/*# sourceMappingURL=style.css.map */