$cerna: #000000;
$bezova: #B6B09F;
$svetla: #EAE4D5;
$seda: #F2F2F2;
$bila: white;


html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: $cerna;
  margin: 0;
}

/* STICKY */

/* .fixed {
  position: sticky;
  top: 0;
  left: 0;
 background-color: $bila;
 height: 50%;
 border: 1px solid $bila;
 border-radius: 20px;
} */


.header__logo {
  a {
    text-decoration: none;
    color: $cerna;
    }
  a:hover,
  a:focus,
  a:active {
    border: $seda;
    border-radius: 10px;
    background-color: $seda;
    padding: 15px 15px 38px 15px;
    } 
}

/* NADPISY*/
h1 {
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0;
}

h1,
h2 {
  text-transform: uppercase
}

h2 {
  margin-left: 20px;
  padding-top: 20px;
}

h3,
h4 {
  text-align: center;
}

h4 {
  margin-top: 0;
  font-weight: 100;
}

/* MENU*/
.menu {
  text-align: center;
  padding-bottom: 2px;
      li {
      display: inline-block;
    }

    a {
      text-decoration: none;
      padding: 20px 50px;
      color: $cerna;
    }

    a:hover,
    a:focus,
    a:active {
    border: $seda;
    border-radius: 10px;
    background-color: $seda;
    }
  }

/* UVODNÍ FOTKY*/
.img-auto {
  max-width: 100%;
}

/* láska ~ emoce ~ život*/
.motto {
  margin: 90px 30px 100px 30px;
  border: 2px solid $seda;
  border-radius: 0 20px;
  padding: 20px 0 20px 0;
  font-size:larger;
}

/* O MNĚ*/

.grilenka {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 35% 2fr;
  grid-template-rows: auto auto auto auto;
}

.lenka {
  border: 1px solid $seda;
  border-radius: 10px;
  margin-left: 5px;
  background-color: $seda;
  text-align: center;
}
.img-fotografka {
max-width: 100%;
}

.tesimse {
  font-weight: bold;
}

/* RECENZE*/
.recenze {
  text-align: center;
  padding: 20px;
}

/* ČASTÉ DOTAZY*/
.dotazy {
  margin: 80px 15% 65px 15%;
}

.otazka {
  margin: 0 25px 0px 25px;
  text-align: center;
  font-weight: 600;
}

.odpoved {
  text-align: center;
  border: 2px solid $seda;
  border-radius: 0 15px;
  background-color: $seda;
  padding: 0 25px;
  margin: 0 0 50px 0;
}

.ptejtese {
  text-align: right;
  margin: 80px 60px 25px 0;
  text-decoration: overline $seda;
  a {
    text-decoration: none;
  
    color: $cerna;
    border: $seda;
    border-radius: 10px;
    background-color: $seda;
    padding: 20px;
    color: $cerna;
  }
  a:hover,
  a:focus,
  a:active {
  border: $cerna;
  border-radius: 10px;
  background-color: $cerna;
  padding: 20px;
  color: $svetla;
  font-weight: bolder;
  text-decoration: overline $cerna;
  }
}

/* KONTAKTY*/
.obdelnik {
  display: flex;
  align-items: center;
  margin: 60px 20px 30px 20px;
  border: 2px solid $seda;
  border-radius: 20px;
  background-color: $seda;
  font-size: 19px;

  a {
    text-decoration: none;
    color: $cerna;
    text-align: center;
  }
}

.udaje {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  text-align: center;
}

.ikonka {
  flex: 0 0 20px;
  margin: 25px 25px 25px 25px;
  align-items: center;
  text-align: center;
}

/* FORMULÁŘ*/
.kontaktujte {
  margin-left: 15px;
  background-image: url(/images/lenka/lenka.jpg);
  background-repeat: no-repeat;
  background-position: right 45% bottom 10%;
}

.legend {
  font-size: 35px;
  margin-left: 20px;
}
form {
  max-width: 45%;
}
.form-field {
  margin-bottom: 8px;
  

  label {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    
    }

  textarea,
  input {
    width: 100%;
    font-size: 16px;
    color: $cerna;
    padding: 5px 8px;
    opacity: 0.75;
    } 
  } 

  .checkbox {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .button {
    border: 8px;
    border-radius: 25px;
    border-color: gray;
    background-color: gray;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: bold;
    color: $svetla;
    }

  .button:hover {
    background-color: $cerna;
    color: $bezova;
  }
 

/* PATIČKA*/
footer {
    background-color: $cerna;
    color: $bila;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    a {
      text-decoration: none;
      color: $bila;
     padding: 20px 30px;
    
    }

  a:hover,
  a:focus,
  a:active {
  border: #262626;
  border-radius: 10px;
  background-color: #262626;
  color: $bila;
  font-weight: bold;
  }
}

